.expense {
    width: 100%;
    display: flex;
}

.expense-body {
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(65, 62, 62);
}

.expense-detail {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.expense-detail-title {
    color: white;
    font-weight: bold;
}

.expense-detail-amount {
    color: white;
    background-color: purple;
    padding: 4px;
    border-color: white !important;
    border-width: 2px !important;
}